# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencias
/node_modules
/.pnp
.pnp.js

# Directorios de producción y compilación
/dist
/build
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de entorno local (¡MUY IMPORTANTE PARA LA SEGURIDAD!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché y temporales de sistema operativo y editores
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de despliegue de Vercel
.vercel

# Archivos de TypeScript
*.tsbuildinfo
